<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>1 | Blog De Alyx</title>
    <link href="/stylesheets/reset.css?1341250885" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/application.css?1341275020" media="screen" rel="stylesheet" type="text/css" />
    <script src="/javascripts/jquery.js?1341250829" type="text/javascript"></script>
    <script src="/javascripts/application.js?1341275962" type="text/javascript"></script>
    
  </head>
  <body>
    <div id='header'>
      <h1>Alyxlander's</h1>
      <h2>Blog:</h2>
      <ul class='menu'>
        <li><a href="/posts">Blog</a></li>
        <li><a href="/about_me">About</a></li>
      </ul>
    </div>
    <div id='container'>
      <div id='main'>
        <div id='show'>
          <div class='post'>
            <div class='title'>1</div>
            <div class='date'>about 7 hours ago</div>
            <div class='body'><p>2</p></div>
            <div class='details'>
              <div class='author'>Posted by tester@tester.com</div>
            </div>
          </div>
        </div>
        <p><a href="/posts">View all posts</a></p>
      </div>
      <div id='sidebar'>
      
        <form method="get" action="/posts" accept-charset="UTF-8">Search for:
        <input name="query" type="text" />
        <input value="Search" type="submit" />
        </form>
        <p>Recent Posts</p>
        <ul class='bulleted'>
          <li>Item 1 - Lorem ipsum dolorum itsum estem</li>
          <li>Item 2 - Lorem ipsum dolorum itsum estem</li>
          <li>Item 3 - Lorem ipsum dolorum itsum estem</li>
        </ul>
        <p>Categories</p>
        <ul class='bulleted'>
          <li>Item 1 - Lorem ipsum dolorum itsum estem</li>
          <li>Item 2 - Lorem ipsum dolorum itsum estem</li>
          <li>Item 3 - Lorem ipsum dolorum itsum estem</li>
        </ul>
        <p>Latest Comments</p>
        <ul class='bulleted'>
          <li>Item 1 - Lorem ipsum dolorum itsum estem</li>
          <li>Item 2 - Lorem ipsum dolorum itsum estem</li>
          <li>Item 3 - Lorem ipsum dolorum itsum estem</li>
        </ul>
      </div>
    </div>
  </body>
</html>

